{% extends 'base.html' %}
{% block title %}
    Add new product
{% endblock %}
{% block menu %}
    <a class="nav-link" href="{% url 'add_category' %}">Add Category</a>
{% endblock %}
{% block content %}
    <h1>Add Product</h1>
    <div class="form">
        <form action="{% url 'add_product' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" id="product_name" name="product_name" placeholder="Title">
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" id="price" name="price" placeholder="Price">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="image" name="image" placeholder="Image url">
            </div>
            <select class="form-select mb-3" aria-label="Category" name="category_id">
                {% for category in categories %}
                    <option value="{{ category.id }}"
                    >{{ category.category_name }}</option>
                {% endfor %}
            </select>
            <div class="mb-3">
                <textarea class="form-control" id="description" rows="3" name="description"
                          placeholder="Description"></textarea>
            </div>
            <button type="submit" class="btn btn-secondary">Add product</button>
        </form>
    </div>
{% endblock %}