{% extends 'base.html' %}
{% block title %}
    Detail view
{% endblock %}
{% block menu %}
    <a class="nav-link" href="{% url 'add_product' %}">Add Product</a>
    <a class="nav-link" href="{% url 'add_category' %}">Add Category</a>
{% endblock %}
{% block content %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ product.image }}" class="detail_img img-fluid rounded-start mt-2" alt="product">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ product.product_name }}</h5>
                    <p class="card-text">{{ product.category }}</p>
                    <h5 class="card-title">Price: {{ product.price }}₸</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text"><small class="text-muted">added: {{ product.added_date }}</small></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}